@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
</head>
<body>

    <div>
        <a href="@Url.Action("Index", "Blob")" style="color:green; font-size:14pt;">Add New File</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (string SingleObj in Model)
                {
                    <tr>
                        <td>
                            <img src="@SingleObj" alt="@SingleObj"
                                 style="height:100px; width: auto;" />
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Blob"))
                            {
                                @Html.AntiForgeryToken()
                                <input hidden name="uri" value=@SingleObj />
                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> 

                                </div>
                            }
                           @* <span>@Html.ActionLink("Delete Picture", "Delete", "Blob", new { uri = SingleObj }, new { })</span>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
