@{
    Layout = null;
}

<div>
    @Html.ActionLink("Create blob container", "CreateBlobContainer", "Blob")
</div>

<div>
    @Html.ActionLink("Upload blob", "UploadBlob", "Blob")
</div>

<div>
    @Html.ActionLink("List blobs", "ListBlobs", "Blob")
</div>
<div>
    @Html.ActionLink("Download blob", "DownloadBlob", "Blob")
</div>
<div>
    @Html.ActionLink("Delete blob", "DeleteBlob", "Blob")
</div>

<div>
    <a href="@Url.Action("Get", "Blob")" style="color:green; font-size:14pt;">View Data</a>
</div>
<div>
    @using (Html.BeginForm("Index", "Blob", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Upload File</legend>
            <ol>
                <li>
                    <label style="margin-right:15px;">Select file </label>
                    <input type="file" name="FilePath" value="" />
                </li>
            </ol>
            <input type="submit" value="Submit" />
        </fieldset>
    }
</div>
