@model IEnumerable<BridgeMVC.Models.BFinancial>

<p class="btn btn-default">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BridgeModule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TSA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocationFee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliverable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BridgeModule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CertType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TSA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllocationFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HourlyRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deliverable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
