@model IEnumerable<BridgeMVC.Models.DocReq>
@{
    Layout = null;
    string bridgeModule = (string)Session["BridgeModule"];
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bridge</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/bridgeScript.js"></script>
    <style>

        body {
            font: Avenir Next;
        }
    </style>
</head>

<h4 style="margin-top:1px"><span id="listTitle">Approval Conditions: (to be added in IORA Sow chapter)</span> <span style="float:right; padding-right:4em"> @Html.ActionLink("Add New", "Create")</span></h4>

<table class="table">
    <colgroup>
        <col span="1" style="width: 90%;">
        <col span="1" style="width: 10%;">

    </colgroup>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocReqItem)
            </td>
            <td>
                @using (Html.BeginForm("Delete", "DocReq", new { id = item.Id }, FormMethod.Post, null))
                {@Html.AntiForgeryToken()
                <input type="submit" value="Delete" />
            }
            </td>
        </tr>
    }
</table>

<script>
    var bm = "@bridgeModule";
    if (bm == "M2") {
        $("#listTitle").html("Required Documentation")
    }


</script>