@model IEnumerable<BridgeMVC.Models.BProdTechPara>

@{
    ViewBag.Title = "Index";
    string parameter = "mainParameter";
}

<style>
    .subParameter{
        background-color: whitesmoke;
    }
    .subParameter:hover{
        background-color: #d4f2bf !important;
    }
    .subParameter td{
        padding-left: 20px !important;      
    }
    
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <colgroup>
        <col span="1" style="width: 48px;" />
        <col span="1" style="width: 48px;" />
        <col span="1" style="width: 50%;" />
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 10%;" />
    </colgroup>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewSequence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechParaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultValue)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if(item.TechParaName.Contains("_"))
        {
            parameter = "subParameter";
        }
        else
        {
            parameter = "mainParameter";
            
        }
        <tr class="@parameter">
            <td>
                @Html.DisplayFor(modelItem => item.ProdName)
            </td>
            <td>
                <input value="@item.ViewSequence" id="@item.Id" class="vs form-control" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechParaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<hr />
<table class="table">
    <tr>
        <td class="mainParameter">
            Main parameter    
        </td>
        <td class="subParameter">
            Sub parameter
        </td>
    </tr>
</table>

<script type="text/javascript">
    $("input[class^='vs']").on('change', function () {

        var id = $(this).attr('id');
        var value = $(this).val();
        callSaveViewSequence(id, value);
    });

    function callSaveViewSequence(id, value) {

        return $.ajax({
            type: 'POST',
            url: '/BProdTechPara/SaveViewSequence/',
            data: { id: id, value: value },
            cache: false,
            success: {

            }
        });
    }
</script>