
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string BridgeLastUsed = (string)Session["BridgeModule"];
}

<h2>Settings</h2>




<li>
    @Html.ActionLink("IORA", "Index", "BIORA")
</li>

<li>
    @Html.ActionLink("Email", "Index", "BEmail")
</li>
<li>
    @Html.ActionLink("Certiticate Types", "Index", "BFinancial")
</li>


<li>
    @Html.ActionLink("General lists (Product Type, Rules, Service types, etc.)", "Index", "BList")
</li>
<br />

<li>
    @Html.ActionLink("MOANO375 LSA Certificate", "Index", "BLSACert")
</li>
@*<li>
    @Html.ActionLink("LSATechCheckList", "Index", "TechCheckList")
</li>*@
<br />
<li>
    @Html.ActionLink("MOANO375 LSA TechChecklist", "Index", "BTechChecklist")
</li>

<div style="font-weight:bold;">
    <br />
    @Html.ActionLink("Select Bridge Module", "Index", "Home")
    <br />
    @Html.ActionLink("Back to joblist", BridgeLastUsed + "_Index", "Job")

</div>
