<!DOCTYPE html>
<style>
    .bing {
        float: left;
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 400px;
        font-weight: bold;
    }
</style>
<html>


<head>

 
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts/common")
    @Scripts.Render("~/bundles/scripts/thirdParty")
    @Scripts.Render("~/bundles/scripts/m2")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>