<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bridge</title>
    @Styles.Render("~/Content/M3/AutoCertA4.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/M3/taskStandard.css")
</head>
<body>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts/common")
    @Scripts.Render("~/bundles/scripts/thirdParty")
    @Scripts.Render("~/bundles/scripts/m3")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>