@model BridgeMVC.Models.Job
<div>
    @Html.HiddenFor(model => model.Tag, new { @id = "hd1" })
    @Html.HiddenFor(model => model.BridgeModule, new { @id = "hd2" })
    @Html.HiddenFor(model => model.Id, new { @id = "hd3" })
    @Html.HiddenFor(model => model.NpsJobName, new { @id = "hd4" })
    @Html.HiddenFor(model => model.NpsJobId, new { @id = "hd5" })
    @Html.HiddenFor(model => model.TaskHandler, new { @id = "hd6" })
    @Html.HiddenFor(model => model.Task1, new { @id = "hd7" })
    @Html.HiddenFor(model => model.Task2, new { @id = "hd8" })
    @Html.HiddenFor(model => model.Task3, new { @id = "hd9" })
    @Html.HiddenFor(model => model.ProdDescription, new { @id = "hd10" })
    @Html.HiddenFor(model => model.ApprNote, new { @id = "hd11" })
    @Html.HiddenFor(model => model.IsComplete, new { @id = "hd12" })
    @Html.HiddenFor(model => model.SalesOrderNo, new { @id = "hd13" })
    @Html.HiddenFor(model => model.SubOrderNo, new { @id = "hd14" })
    @Html.HiddenFor(model => model.CertType, new { @id = "hd15" })
    @Html.HiddenFor(model => model.CertAction, new { @id = "hd16" })
    @Html.HiddenFor(model => model.MainProdType, new { @id = "hd17" })
    @Html.HiddenFor(model => model.SubProdType, new { @id = "hd18" })
    @Html.HiddenFor(model => model.ReceivedTime, new { @id = "hd19" })
    @Html.HiddenFor(model => model.FeeSetTime, new { @id = "hd20" })
    @Html.HiddenFor(model => model.IoraSentTime, new { @id = "hd21" })
    @Html.HiddenFor(model => model.IoraReturnedTime, new { @id = "hd22" })
    @Html.HiddenFor(model => model.JobCompletedTime, new { @id = "hd23" })
    @Html.HiddenFor(model => model.CustomerName, new { @id = "hd24" })
    @Html.HiddenFor(model => model.CustomerId, new { @id = "hd25" })
    @Html.HiddenFor(model => model.Fee, new { @id = "hd26" })
    @Html.HiddenFor(model => model.FeeSetter, new { @id = "hd27" })
    @Html.HiddenFor(model => model.FeeVerifier, new { @id = "hd28" })
    @Html.HiddenFor(model => model.JobVerifier, new { @id = "hd29" })
    @Html.HiddenFor(model => model.RAE, new { @id = "hd30" })
    @Html.HiddenFor(model => model.MWL, new { @id = "hd31" })
    @Html.HiddenFor(model => model.ExistingCertNo, new { @id = "hd32" })
    @Html.HiddenFor(model => model.CertNo, new { @id = "hd33" })
    @Html.HiddenFor(model => model.SerialNo, new { @id = "hd34" })
    @Html.HiddenFor(model => model.MEDItemNo, new { @id = "hd35" })
    @Html.HiddenFor(model => model.DeliveryWeek, new { @id = "hd36" })
    @Html.HiddenFor(model => model.LocalUnit, new { @id = "hd37" })
    @Html.HiddenFor(model => model.ArchiveFolder, new { @id = "hd38" })
    @Html.HiddenFor(model => model.IsHold, new { @id = "hd39" })
    @Html.HiddenFor(model => model.StatusNote, new { @id = "hd40" })
    @Html.HiddenFor(model => model.VerifyLvl, new { @id = "hd41" })
    @Html.HiddenFor(model => model.SurveyDate, new { @id = "hd42" })
    @Html.HiddenFor(model => model.SurveyStation, new { @id = "hd43" })
    @Html.HiddenFor(model => model.TechPara1, new { @id = "hd44" })
    @Html.HiddenFor(model => model.TechPara2, new { @id = "hd45" })
    @Html.HiddenFor(model => model.TechPara3, new { @id = "hd46" })
    @Html.HiddenFor(model => model.TechPara4, new { @id = "hd47" })
    @Html.HiddenFor(model => model.MEDFactory, new { @id = "hd48" })
    @Html.HiddenFor(model => model.MEDFBNo, new { @id = "hd49" })
    @Html.HiddenFor(model => model.MEDFBDue, new { @id = "hd50" })
    @Html.HiddenFor(model => model.AnyDesignChange, new { @id = "hd51" })
    @Html.HiddenFor(model => model.ChecklistUsed, new { @id = "hd52" })
    @Html.HiddenFor(model => model.DesignFolder, new { @id = "hd53" })
    @Html.HiddenFor(model => model.IsDocQualityGood, new { @id = "hd54" })
    @Html.HiddenFor(model => model.IsDocSufficient, new { @id = "hd55" })
    @Html.HiddenFor(model => model.SetHoldTime, new { @id = "hd56" })
    @Html.HiddenFor(model => model.IORASpentTime, new { @id = "hd57" })
    @Html.HiddenFor(model => model.ModificationDesc, new { @id = "hd58" })
    @Html.HiddenFor(model => model.OnHoldNote, new { @id = "hd59" })
    @Html.HiddenFor(model => model.FeeVerifyTime, new { @id = "hd60" })
    @Html.HiddenFor(model => model.RegisterTime, new { @id = "hd61" })
    @Html.HiddenFor(model => model.DocReq, new { @id = "hd62" })
    @Html.HiddenFor(model => model.NoOfCert, new { @id = "hd63" })
    @Html.HiddenFor(model => model.FeeSet, new { @id = "hd64" })
    @Html.HiddenFor(model => model.VesselID, new { @id = "hd65" })
    @Html.HiddenFor(model => model.DocReqNote, new { @id = "hd66" })
    @Html.HiddenFor(model => model.NpsDbId, new { @id = "hd67" })
    @Html.HiddenFor(model => model.ExeDoneBy, new { @id = "hd68" })
    @Html.HiddenFor(model => model.ExeDoneTime, new { @id = "hd69" })
    @Html.HiddenFor(model => model.CompletedBy, new { @id = "hd70" })
    @Html.HiddenFor(model => model.SendingFlag, new { @id = "hd71" })
    @Html.HiddenFor(model => model.IoraDbId, new { @id = "hd72" })
    @Html.HiddenFor(model => model.InternalFee, new { @id = "hd73" })

</div>