@model BridgeMVC.Models.BTechChecklist

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BTechChecklist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookMarkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookMarkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainProdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainProdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubProdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubProdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LSARef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LSARef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MEDItemNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MEDItemNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GudianceNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GudianceNote)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
