@model BridgeMVC.Models.IORA

@{
    ViewBag.Title = "TestEdit";
}

<h2>TestEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IORA</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BridgeModule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BridgeModule, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BridgeModule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NpsJobID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NpsJobID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NpsJobID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DbJobId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DbJobId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DbJobId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NPSJNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NPSJNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NPSJNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SellingContactSig, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SellingContactSig, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SellingContactSig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BuyingContactSig, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BuyingContactSig, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BuyingContactSig, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvUnitName501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvUnitName501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvUnitName501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvUnitNo501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvUnitNo501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvUnitNo501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DgIntUnVAT501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DgIntUnVAT501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DgIntUnVAT501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntCompAccnt501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntCompAccnt501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntCompAccnt501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntUnPrCeNo501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntUnPrCeNo501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntUnPrCeNo501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpIntUnProjNo501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpIntUnProjNo501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpIntUnProjNo501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvUnitName502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvUnitName502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvUnitName502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvUnitNo502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvUnitNo502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvUnitNo502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DgIntUnVAT502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DgIntUnVAT502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DgIntUnVAT502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvContPersName502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvContPersName502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvContPersName502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntCompAccnt502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntCompAccnt502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntCompAccnt502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntUnPrCeNo502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntUnPrCeNo502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntUnPrCeNo502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpIntUnProjNo502, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpIntUnProjNo502, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpIntUnProjNo502, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpProjName01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpProjName01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpProjName01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpProjWorkLoc01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpProjWorkLoc01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpProjWorkLoc01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpServiceName01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpServiceName01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpServiceName01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpServiceCode01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpServiceCode01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpServiceCode01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DgCustName01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DgCustName01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DgCustName01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DgCustomerRef01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DgCustomerRef01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DgCustomerRef01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpProjStartDate01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpProjStartDate01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpProjStartDate01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpProjStartEnd01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpProjStartEnd01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpProjStartEnd01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpSoW01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpSoW01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpSoW01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpSupportingDocs01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpSupportingDocs01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpSupportingDocs01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IORAFee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IORAFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IORAFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DgSpecialConditions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DgSpecialConditions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DgSpecialConditions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Str_SpecialC, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Str_SpecialC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Str_SpecialC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntUnPlace501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntUnPlace501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntUnPlace501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntUnDate501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntUnDate501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntUnDate501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntUnSigName501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntUnSigName501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntUnSigName501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvIntUnSigTitle501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvIntUnSigTitle501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvIntUnSigTitle501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DgDNVDocNo01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DgDNVDocNo01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DgDNVDocNo01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DnvContPersName501, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DnvContPersName501, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DnvContPersName501, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DpDeliverables01, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DpDeliverables01, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DpDeliverables01, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
