@model IEnumerable<BridgeMVC.Models.BProdTechPara>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechParaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropdownSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AutoCompleteSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValueType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewSequence)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.ProdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechParaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropdownSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoCompleteSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewSequence)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
