@model IEnumerable<BridgeMVC.Models.Job>

@{
    Layout = "~/Views/Job/_LayoutIndex.cshtml";
    string BridgeLastUsed = (string)Session["BridgeModule"];
    string UserSignature = (string)Session["UserSignature"];
    var LUser = ViewBag.LUser;
    var US = ViewBag.userSig;

    BridgeMVC.Models.BBridge bridge = (BridgeMVC.Models.BBridge)ViewBag.bridge;
    List<string> taskNames = bridge.TaskName.Split(';').ToList<string>();
    int JobNum = Model.Count();
    int TotalFee = 0;
}

@Html.Partial("~/Views/Job/_IndexNavBar.cshtml")


<table id="sortTable" class="table table-mid-align-rows hoverRow" style="table-layout:fixed;">
    <colgroup>
        <col span="1" style="width: 21%;" />
        <col span="1" style="width: 120px;" />
        <col span="1" style="width: 24%;" />
        <col span="1" style="width: 24%;" />
        <col span="1" style="width: 35px" />
        <col span="1" style="width: 35px" />
        <col span="1" style="width: 35px" />
        <col span="1" style="width: 50px" />
        <col span="1" style="width: 24%;" />
        <col span="1" style="width: 66px" />
    </colgroup>
    <tr>
        <th class="sort" onclick="sortTable(0)"> JOB ID @*<div class="arrows"> &#11046 </div>*@</th>
        <th title="[Hours registered in Ncert / Budget hours]"> PROGRESS </th>
        <th class="sort" onclick="sortTable(2)"> CUSTOMER </th>
        <th class="sort" onclick="sortTable(3)"> PROJECT NAME </th>
        @{ int col = 4; }
        @foreach (string taskname in taskNames)
        {
            <th id="@taskname" class="sort" onclick="sortTable(@col)"> @taskname </th>
            col++;
        }
        <th class="sort" onclick="sortTable(@col)" title="From IORA Central"> IORA STATUS </th>
        <th class="sort" onclick="sortTable(9)" title="Days since registering the job"> DAYS </th>
        @*<th>            @Html.DisplayNameFor(model => model.TaskHandler)        </th>
            <th>            @Html.DisplayNameFor(model => model.Completed)        </th>*@
    </tr>
    @foreach (var item in Model)
    {
        if (item.Fee != null)
        {
            TotalFee += (int)item.Fee;
        }

        string npsJobName = item.NpsJobName;
        if (string.IsNullOrEmpty(npsJobName))
        {
            npsJobName = item.ProdDescription;
        }

        string classT1 = "classT" + item.Task1;
        string classT2 = "classT" + item.Task2;

        if (classT2 == "classTTASK")
        {
            classT2 = "classTTASKIORA";
        }

        string classT3 = "classT" + item.Task3;
        string classT4 = "classT" + item.Task4;
        string editlink1 = "'/Job/CommonTask1/" + item.Id + "'";
        string editlink2 = "'/Job/IsIORAExisting/" + item.Id + "'";
        string editlink3 = "'/Job/CommonTask3/" + item.Id + "'";
        string editlink4 = "'/Job/CommonTask4/" + item.Id + "'";
        string linkNcertReporting = "'/Job/NCertReporting/" + item.Id + "'";
        string t2tag = "T2TAG" + item.Task2 + "T2TAG";

        int days = 0;
        string receivedClass = "";
        if (item.ReceivedTime != null)
        {
            TimeSpan timeSpan = DateTime.Now - (DateTime)item.ReceivedTime;
            days = (int)timeSpan.TotalDays;
            if (days > 60)
            {
                receivedClass = "color: red;";
            }
            else if (days > 30)
            {
                receivedClass = "color: orange;";
            }
        }


        <tr class="jobList">
            <td>
                <p> @Html.DisplayFor(modelItem => item.NpsJobId) </p>
            </td>
            <td>
                <div style="background-color:lightgray; cursor: pointer; width:100%;" onclick="location.href=@linkNcertReporting">

                    <div style="background-color:green;width:66.66%; position:relative; top:0px; height:24px; margin:0px">
                        <div style="color:white; margin:auto;">
                            bhrs
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <p> @Html.DisplayFor(modelItem => item.CustomerName) </p>
            </td>
            <td>
                <p> @npsJobName </p>
            </td>

            <td>
                <div class="@classT1" onclick="location.href=@editlink1">
                    @Html.DisplayFor(modelItem => item.Task1)
                </div>
            </td>
            <td>
                <div class="@classT2" onclick="location.href=@editlink2" align="center" tag="@t2tag">
                    @Html.DisplayFor(modelItem => item.Task2)
                </div>
            </td>

            <td>
                <div class="@classT3" onclick="location.href=@editlink3">
                    @Html.DisplayFor(modelItem => item.Task3)
                </div>
            </td>

            @*<td class="@classT3" onclick="location.href=@editlink3" style="width: 25px;">
                    @Html.DisplayFor(modelItem => item.Task3)
                </td> *@
            <td>
                <div class="@classT4" onclick="location.href=@editlink4">
                    @Html.DisplayFor(modelItem => item.Task4)
                </div>
            </td>
            <td>
                <p>
                    @if (!string.IsNullOrEmpty(item.IoraDbId))
                    {
                        @Html.DisplayFor(modelItem => item.IoraDbId)
                    }
                </p>
            </td>
            <td style="text-align:right; @receivedClass">
                @days
            </td>
        </tr>
    }
</table>


@section Scripts{
    <script type="text/javascript">

    var LUser = @Html.Raw(Json.Encode(LUser));
    var us = @Html.Raw(Json.Encode(US));

    stats(@JobNum, @TotalFee);

    document.getElementById("FEE").title = "Fee setting";
    document.getElementById("AGR").title = "Agreement/IORA";
    document.getElementById("EXE").title = "Job execution";
    document.getElementById("INV").title = "Invoicing/Finalization";

    </script>
}