@model BridgeMVC.Models.Job

@{
    ViewBag.Title = "M1_Task1";
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    var LCertType = ViewBag.LCertType;
    var LCertAction = ViewBag.LCertAction;
    var LMainProdType = ViewBag.LMainProdType;
    var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;

}

<style>
    .bing {
        float: left;
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 400px;
        font-weight: bold;
    }

    .form-control {
        font-weight: normal;
    }
</style>

<h2>FEE SETTING</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "jobForm" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.HiddenFor(model => model.Tag)
    @Html.HiddenFor(model => model.BridgeModule)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.NpsJobId)
    @Html.HiddenFor(model => model.TaskHandler)
    @Html.HiddenFor(model => model.Task1)
    @Html.HiddenFor(model => model.Task2)
    @Html.HiddenFor(model => model.Task3)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.ProdDescription)
    @Html.HiddenFor(model => model.ApprNote)
    @*@Html.HiddenFor(model => model.IsComplete)*@
    @Html.HiddenFor(model => model.SalesOrderNo)
    @Html.HiddenFor(model => model.SubOrderNo)
    @Html.HiddenFor(model => model.CertType)
    @Html.HiddenFor(model => model.CertAction)
    @Html.HiddenFor(model => model.MainProdType)
    @Html.HiddenFor(model => model.SubProdType)
    @Html.HiddenFor(model => model.ReceivedTime)
    @Html.HiddenFor(model => model.FeeSetTime)
    @Html.HiddenFor(model => model.IoraSentTime)
    @Html.HiddenFor(model => model.IoraReturnedTime)
    @Html.HiddenFor(model => model.JobCompletedTime)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.Fee)
    @Html.HiddenFor(model => model.FeeSetter)
    @Html.HiddenFor(model => model.FeeVerifier)
    @Html.HiddenFor(model => model.JobVerifier)
    @Html.HiddenFor(model => model.RAE)
    @Html.HiddenFor(model => model.MWL)
    @Html.HiddenFor(model => model.ExistingCertNo)
    @Html.HiddenFor(model => model.CertNo)
    @Html.HiddenFor(model => model.SerialNo)
    @Html.HiddenFor(model => model.MEDItemNo)
    @Html.HiddenFor(model => model.DeliveryWeek)
    @Html.HiddenFor(model => model.LocalUnit)
    @Html.HiddenFor(model => model.ArchiveFolder)
    @Html.HiddenFor(model => model.ChecklistUsed)
    @Html.HiddenFor(model => model.DesignFolder)
    @Html.HiddenFor(model => model.IsDocQualityGood)
    @Html.HiddenFor(model => model.IsDocSufficient)
    @Html.HiddenFor(model => model.SetHoldTime)
    @Html.HiddenFor(model => model.IORASpentTime)
    @Html.HiddenFor(model => model.IsHold)
    @Html.HiddenFor(model => model.StatusNote)
    @Html.HiddenFor(model => model.VerifyLvl)
    @Html.HiddenFor(model => model.SurveyDate)
    @Html.HiddenFor(model => model.SurveyStation)
    @Html.HiddenFor(model => model.TechPara1)
    @Html.HiddenFor(model => model.TechPara2)
    @Html.HiddenFor(model => model.TechPara3)
    @Html.HiddenFor(model => model.TechPara4)
    @Html.HiddenFor(model => model.MEDFactory)
    @Html.HiddenFor(model => model.MEDFBNo)
    @Html.HiddenFor(model => model.MEDFBDue)
    @Html.HiddenFor(model => model.AnyDesignChange)

    <div class="bing col-lg-6" >
        Job ID:
        @Html.DisplayFor(model => model.NpsJobId)
    </div>


    <div class="bing col-lg-6" hidden>
      
        @Html.EditorFor(model => model.StatusNote, new { htmlAttributes = new { @class = "form-control", id = "NpsJobId" } })
        @Html.ValidationMessageFor(model => model.StatusNote, "", new { @class = "text-danger" })
    </div>
    <div class="bing col-lg-6">
        Completed:
        @Html.EditorFor(model => model.IsComplete, new { htmlAttributes = new { @class = "form-control", id = "NpsJobId" } })
        @Html.ValidationMessageFor(model => model.IsComplete, "", new { @class = "text-danger" })
    </div>

    <div class="form-group" style="clear:both;">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-default" id="saveButton" readonly />

        </div>
    </div>

    @*//next task, send job and return to work list*@
    <div class="col-lg-12">
        <div class="col-lg-5">
            <h3>Please select the new task handler:</h3>
            <select id="selectListHandler" class="form-control"></select>
        </div>
        <div class="col-lg-5">
            <h3> and new task:</h3>
            <select id="selectListTask" class="form-control"></select>
        </div>
    </div>
    <h4>&nbsp;</h4>
    <input value="Send job" class="btn btn-default" id="sendJobEmail" readonly />
    <input value="Return to worklist" class="btn btn-default" id="returnToWorklist" style="float:right" readonly />
</div>



}
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    //read viewbag's info.
    var userSignature = "@UserSignature";
    var bm = "@bridgeModule";
    var Job = @Html.Raw(Json.Encode(Model));
    
    var LMainProdType = @Html.Raw(Json.Encode(LMainProdType));
    var LSubProdType = @Html.Raw(Json.Encode(LSubProdType));
    var LUser = @Html.Raw(Json.Encode(LUser));
    var LCertAction = @Html.Raw(Json.Encode(LCertAction));
    var LCertType = @Html.Raw(Json.Encode(LCertType));

    var TargetUser;
    var BEmail;
    var taskStatus;

    //Set task parameter
    var taskNo = 1;
    var taskStatusFlag = "feeSetter";
    var taskCompleteDate = "feeSetTime";
    var taskCompleteStr = "The fee is set by ";

    renderTaskShowHide();
    renderTaskHandling();

    //console.log(getTodayDate());

   
    //set up select list
    $.each(LCertType, function (key, data) {
        $("#selectCertType").append(new Option(data.ListItem, data.ListItem));
    });

    $.each(LCertAction, function (key, data) {
        $("#selectCertAction").append(new Option(data.ListItem, data.ListItem));
    });

    $.each(LMainProdType, function (key, data) {
        $("#selectMainProdType").append(new Option(data.ListItem, data.ListItem));
    });

    var mval = $("#selectMainProdType :selected").text();
      $.each(LSubProdType, function (key, data) {
        if (data.UpperLvl == mval) {
            $("#selectSubProdType").append(new Option(data.ListItem, data.ListItem));
        }
    });

//When main prodtype changes, refesh the sub prod type.
    $("#selectMainProdType").on("change", function () {
        var mval = $("#selectMainProdType :selected").text();

        $('#selectSubProdType option').each(function () {
            if ($(this).val() != 'X') {
                $(this).remove();
            }
        });

        $("selectSubProdType option").remove();
        $.each(LSubProdType, function (key, data) {
            if (data.UpperLvl == mval) {
                $("#selectSubProdType").append(new Option(data.ListItem, data.ListItem));
            }
        });
    });


</script>


