@model IEnumerable<BridgeMVC.Models.Job>

@{
    /**/

    ViewBag.Title = "Index";
    string BridgeLastUsed = (string)Session["BridgeModule"];
    string UserSignature = (string)Session["UserSignature"];
    string colorY, colorN, colorTask;
    colorY = "background-color:#5296c3; color:transparent;";
    colorN = "background-color:azure; color:transparent;";
    colorTask = "background-color:#81d078; color:transparent;";

    var LUser = ViewBag.LUser;
    var US = ViewBag.userSig;

}

<style>
    .hoverRow p {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
        max-width: 240px;
    }

    .hoverRow td:hover p {
        white-space: normal;
        word-wrap: normal;
        word-break: break-all;
    }
</style>

<h2>
    MY BRIDGE JOBLIST
    <p class="btn btn-subtle" style="float:right; border:none" hidden>
            @Html.ActionLink("WHITEBOARD", "Whiteboard")
        </p>
</h2>
<hr />

@using (Html.BeginForm())
{
    <table>
        <colgroup>
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 76%;">
            <col span="1" style="width: 12%;">

        </colgroup>
        <tr>
            <td>
                @Html.TextBox("SearchString", null, new { @class = "form-control" })

            </td>
            <td>
                <input type="submit" value="Search" />
            </td>
            <td style="float:right">
                <select id="userSig" name="userSig" class="form-control"></select>
            </td>
            <td>
                <input type="submit" value="Change User" />
            </td>
        </tr>

    </table>

}
<br />

<table class="table table-mid-align-rows hoverRow">
    <colgroup>
        <col span="1" style="width: 12%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 1%;">
        <col span="1" style="width: 30%;">
    </colgroup>
    <tr>
        <th style="border-top:none">           JOB ID       </th>
        <th style="border-top:none">            CUSTOMER        </th>
        <th style="border-top:none">            CERTIFICATE TYPE     </th>
        <th style="border-top:none">           FEE       </th>
        <th style="border-top:none">           VERIFY       </th>
        <th style="border-top:none">           IORA       </th>
        <th style="border-top:none">                   </th>
        <th style="border-top:none">          IORA STATUS    </th>
        @*<th>            @Html.DisplayNameFor(model => model.TaskHandler)        </th>
            <th>            @Html.DisplayNameFor(model => model.Completed)        </th>*@

    </tr>

    @foreach (var item in Model)
    {


        string styleT1 = "";
        styleT1 = item.Task1 == "Y" ? colorY : styleT1;
        styleT1 = item.Task1 == "N" ? colorN : styleT1;
        styleT1 = item.Task1 == "TASK" ? colorTask : styleT1;


        string styleT2 = "";
        styleT2 = item.Task2 == "Y" ? colorY : styleT2;
        styleT2 = item.Task2 == "N" ? colorN : styleT2;
        styleT2 = item.Task2 == "TASK" ? colorTask : styleT2;

        string styleT3 = "";
        styleT3 = item.Task3 == "Y" ? colorY : styleT3;
        styleT3 = item.Task3 == "N" ? colorN : styleT3;
        styleT3 = item.Task3 == "TASK" ? colorTask : styleT3;

        string styleT4 = "";
        styleT4 = item.Task4 == "Y" ? colorY : styleT4;
        styleT4 = item.Task4 == "N" ? colorN : styleT4;
        styleT4 = item.Task4 == "TASK" ? colorTask : styleT4;

        styleT1 = styleT1 + "; cursor: pointer;";
        styleT2 = styleT2 + "; cursor: pointer;";
        styleT3 = styleT3 + "; cursor: pointer;";
        styleT4 = styleT4 + "; cursor: pointer;";

        string editlink1 = "'/Job/M2_Task1/" + item.Id + "'";
        string editlink2 = "'/Job/M2_Task2/" + item.Id + "'";
        string editlink3 = "'/Job/M2_Task3/" + item.Id + "?npsid=" + item.NpsJobId + "&fee=" + item.Fee + "'";
        //string editlink4 = "'/Job/M2_Task4/" + item.Id + "'";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NpsJobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            <p> @Html.DisplayFor(modelItem => item.CertType) </p>
        </td>
        <td style="@styleT1" onclick="location.href=@editlink1">
            @Html.DisplayFor(modelItem => item.Task1)
        </td>
        <td style="@styleT2" onclick="location.href=@editlink2">
            @Html.DisplayFor(modelItem => item.Task2)
        </td>
        <td style="@styleT3" onclick="location.href=@editlink3">
            @Html.DisplayFor(modelItem => item.Task3)
        </td>
        <td style="@styleT4">
            @*@Html.DisplayFor(modelItem => item.Task4)*@
        </td>
        <td>
            <p>
                @if (!string.IsNullOrEmpty(item.IoraDbId))
                {
                    @Html.DisplayFor(modelItem => item.IoraDbId)
                }
            </p>
        </td>

    </tr>
    }

</table>

<script>
    var LUser = @Html.Raw(Json.Encode(LUser));
    var us = @Html.Raw(Json.Encode(US));

    console.log(LUser);

    $("#userSig").append(new Option(us, us));

    $.each(LUser, function (key, data) {
        $("#userSig").append(new Option(data.Signature, data.Signature));
    });

    //$("#userSig").on("change", function () {
    //    var mval = $("#selectMainProdType :selected").text();

    //});


</script>