@model IEnumerable<BridgeMVC.Models.Job>

@{
    Layout = "~/Views/Job/_LayoutIndex.cshtml";
    string BridgeLastUsed = (string)Session["BridgeModule"];
    string UserSignature = (string)Session["UserSignature"];
    var LUser = ViewBag.LUser;
    var US = ViewBag.userSig;
    var BFlist = (IEnumerable<BridgeMVC.Models.BFinancial>)ViewBag.LCertType;

    BridgeMVC.Models.BBridge bridge = (BridgeMVC.Models.BBridge)ViewBag.bridge;
    List<string> taskNames = bridge.TaskName.Split(';').ToList<string>();
    int JobNum = Model.Count();
    int TotalFee = 0;

    string getColorCode(string ct)
    {
        string c = "";
        foreach (BridgeMVC.Models.BFinancial bf in BFlist)
        {
            if (bf.CertType == ct)
            {
                c = bf.ColorCode;
            }
        }

        return "background-color:" + c;
    }
}

<div style="float:right" class="btn btn-secondary">
    @Html.ActionLink("Whiteboard", "Whiteboard")
</div>

@Html.Partial("~/Views/Job/_IndexNavBar.cshtml", Model)

<table id="sortTable" class="table table-mid-align-rows hoverRow" style="table-layout:fixed;">
    <colgroup>
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 20%;" />
        <col span="1" style="width: 35px;" />
        <col span="1" style="width: 35px;" />
        <col span="1" style="width: 49px;" />
        <col span="1" style="width: 1px" />
        <col span="1" style="width: 30%;" />
        <col span="1" style="width: 35px;" />
        <col span="1" style="width: 66px;" />
    </colgroup>
    <tr>
        <th class="sort" onclick="sortTable(0)"> JOB ID @*<div class="arrows"> &#11046 </div>*@</th>
        <th class="sort" onclick="sortTable(1)"> CUSTOMER </th>
        <th class="sort" onclick="sortTable(2)"> PROJECT NAME </th>
        @{ int col = 3; }
        @foreach (string taskname in taskNames)
        {
            <th id="@taskname" class="sort" onclick="sortTable(@col)"> @taskname </th>
            col++;
        }
        <th> </th>
        <th class="sort" onclick="sortTable(7)" title="From IORA Central"> IORA STATUS </th>
        <th class="sort" onclick="sortTable(8)"> </th>
        <th class="sort" onclick="sortTable(9)" title="Days since registering the job"> DAYS </th>
        @*<th>            @Html.DisplayNameFor(model => model.TaskHandler)        </th>
            <th>            @Html.DisplayNameFor(model => model.Completed)        </th>*@
    </tr>

    @foreach (var item in Model)
    {
        if (item.Fee != null)
        {
            TotalFee += (int)item.Fee;
        }

        string npsJobName = item.NpsJobName;
        string pauseIconId = "pause_" + item.Id;
        string startIconId = "start_" + item.Id;
        string statusId = "status_" + item.Id;

        string classT1 = "classT" + item.Task1;
        string classT2 = "classT" + item.Task2;

        if (classT2 == "classTTASK")
        {
            classT2 = "classTTASKIORA";
        }


        string classT3 = "classT" + item.Task3;
        string classT4 = "classT" + item.Task4;
        if (string.IsNullOrEmpty(npsJobName))
        {
            npsJobName = item.ProdDescription;
        }

        string ctColorCode = getColorCode(item.CertType);


        string editlink1 = "'/Job/CommonTask1/" + item.Id + "'";
        string editlink2 = "'/Job/IsIORAExisting/" + item.Id + "'";

        string editlink3 = "'/Job/CommonTask3/" + item.Id + "'";
        string editlink4 = "'/Job/CommonTask4/" + item.Id + "'";

        int days = 0;
        string receivedClass = "";
        if (item.ReceivedTime != null)
        {
            TimeSpan timeSpan = DateTime.Now - (DateTime)item.ReceivedTime;
            days = (int)timeSpan.TotalDays;
            if (days > 60)
            {
                receivedClass = "color: red;";
            }
            else if (days > 30)
            {
                receivedClass = "color: orange;";
            }
        }


        <tr class="jobList">
            <td style="@ctColorCode">
                <p> @Html.DisplayFor(modelItem => item.NpsJobId) </p>
            </td>
            <td>
                <p> @Html.DisplayFor(modelItem => item.CustomerName) </p>
            </td>
            <td>
                <p> @npsJobName </p>
            </td>

            <td>
                <div class="@classT1" onclick="location.href=@editlink1">
                    @Html.DisplayFor(modelItem => item.Task1)
                </div>
            </td>
            <td>
                <div class="@classT2" onclick="location.href=@editlink2">
                    @Html.DisplayFor(modelItem => item.Task2)
                </div>
            </td>
            <td>
                <div class="@classT3" onclick="location.href=@editlink3">
                    @Html.DisplayFor(modelItem => item.Task3)
                </div>
            </td>

            <td></td>

            <td id="@statusId">
                <p>
                    @if (!string.IsNullOrEmpty(item.OnHoldNote) && item.IsHold)
                    {
                        @item.OnHoldNote.ToUpper().Split(new[] { ';' })[0]
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.IoraDbId)
                    }

                </p>
            </td>

            <td>

                @if (item.IsHold)
                {
                    <img id="@startIconId" src="~/Content/pictures/Start.png" height="24" width="24" onclick="startPause(this.id)" />
                }
                else
                {
                    <img id="@pauseIconId" src="~/Content/pictures/Pause.png" height="24" width="24" onclick="startPause(this.id)" />
                }

            </td>

            <td style="text-align:right; @receivedClass">
                @days
            </td>
        </tr>
    }
</table>


@section Scripts{
    <script type="text/javascript">
    var LUser = @Html.Raw(Json.Encode(LUser));
    var us = @Html.Raw(Json.Encode(US));

    stats(@JobNum, @TotalFee);

    document.getElementById("FEE").title = "Fee setting";

    </script>
}