@model IEnumerable<BridgeMVC.Models.Job>

@{
    /**/

    ViewBag.Title = "Index";
    string BridgeLastUsed = (string)Session["BridgeModule"];
    string UserSignature = (string)Session["UserSignature"];

    var LUser = ViewBag.LUser;
    var US = ViewBag.userSig;

    IDictionary<string, string> styleDict = new Dictionary<string, string>();
    styleDict.Add("Y", "background-color:seagreen; color:transparent;; cursor: pointer; ");
    styleDict.Add("N", "background-color:LightPink; color:transparent;; cursor: pointer; ");
    styleDict.Add("TASK", "background-color:lightgreen; color:transparent;; cursor: pointer; ");
    styleDict.Add("Default", "background-color:LightPink; color:transparent;; cursor: pointer; ");


    string getValuefromDict(string taskVal)
    {
        if (string.IsNullOrEmpty(taskVal))
        {
            return styleDict["Default"];
        }
        else
        {
            return styleDict[taskVal];
        }


    }

}

<style>
    .hoverRow p {
        display: block;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
        max-width: 480px;
    }

    .hoverRow td:hover p {
        white-space: normal;
        word-wrap: normal;
        word-break: break-all;
    }

    .table th, td {
        border-radius: 25px;
        border: 3px solid white;
    }
</style>

<h2>
    MY BRIDGE JOBLIST
    <p style="float:right" class="btn btn-secondary">
        @Html.ActionLink("Whiteboard", "Whiteboard")
    </p>
</h2>

<hr />

@using (Html.BeginForm())
{
    <table>
        <colgroup>
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 76%;">
            <col span="1" style="width: 12%;">

        </colgroup>
        <tr>
            <td>
                @Html.TextBox("SearchString", null, new { @class = "form-control" })

            </td>
            <td>
                <input type="submit" value="Search" />
            </td>
            <td style="float:right">
                <select id="userSig" name="userSig" class="form-control"></select>
            </td>
            <td>
                <input type="submit" value="Change User" />
            </td>
        </tr>

    </table>

}
<br />

<table class="table table-mid-align-rows hoverRow" style="table-layout:fixed;">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 50px;">
        <col span="1" style="width: 50px;">
        <col span="1" style="width: 50px;">
        <col span="1" style="width: 50px;">
        <col span="1" style="width: 30%;">
    </colgroup>
    <tr>
        <th style="border-top:none">           JOB ID       </th>
        <th style="border-top:none">            CUSTOMER        </th>
        <th style="border-top:none">            DESIGNATION     </th>
        <th style="border-top:none">           FEE      </th>
        <th style="border-top:none">           VERI       </th>
        <th style="border-top:none">           W.B.        </th>
        <th style="border-top:none">                  </th>
        <th style="border-top:none">          IORA STATUS    </th>
        @*<th>            @Html.DisplayNameFor(model => model.TaskHandler)        </th>
            <th>            @Html.DisplayNameFor(model => model.Completed)        </th>*@

    </tr>

    @foreach (var item in Model)
    {


        string styleT1 = getValuefromDict(item.Task1);
        string styleT2 = getValuefromDict(item.Task2);
        string styleT3 = getValuefromDict(item.Task3);
        string styleT4 = getValuefromDict(item.Task4);

        string editlink1 = "'/Job/CommonTask1/" + item.Id + "'";
        string editlink2 = "'/Job/IsIORAExisting/" + item.Id + "'";

        string editlink3 = "'/Job/CommonTask3/" + item.Id + "'";
        string editlink4 = "'/Job/CommonTask4/" + item.Id + "'";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NpsJobId)
        </td>
        <td>
            <p>  @Html.DisplayFor(modelItem => item.CustomerName)</p>
        </td>
        <p>
            @Html.DisplayFor(modelItem => item.ProdDescription)
        </p>
        <td style="@styleT1;" onclick="location.href=@editlink1">
            @Html.DisplayFor(modelItem => item.Task1)
        </td>
        <td style="@styleT2" onclick="location.href=@editlink2">
            @Html.DisplayFor(modelItem => item.Task2)
        </td>
        <td style="@styleT3" onclick="location.href=@editlink3">
            @Html.DisplayFor(modelItem => item.Task3)
        </td>
        <td></td>
        <td>
            <p>
                @if (!string.IsNullOrEmpty(item.IoraDbId))
                {
                    @Html.DisplayFor(modelItem => item.IoraDbId)
                }
            </p>
        </td>

    </tr>
    }

</table>
<script>
    var LUser = @Html.Raw(Json.Encode(LUser));
    var us = @Html.Raw(Json.Encode(US));

    console.log(LUser);

    $("#userSig").append(new Option(us, us));

    $.each(LUser, function (key, data) {
        $("#userSig").append(new Option(data.Signature, data.Signature));
    });




</script>