@model BridgeMVC.Models.Job

@{
    ViewBag.Title = "M1_Task1";
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    var LCertType = ViewBag.LCertType;
    var LCertAction = ViewBag.LCertAction;
    var LMainProdType = ViewBag.LMainProdType;
    var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;

}

<style>
    .bing {
        float: left;
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 400px;
        font-weight: bold;
    }

    .form-control {
        font-weight: normal;
    }
</style>

<h2>
    COMPLETION

    <br />
    Job ID:
    @Html.DisplayFor(model => model.NpsJobId)
</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "jobForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Tag)
    @Html.HiddenFor(model => model.BridgeModule)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.NpsJobId)
    @Html.HiddenFor(model => model.TaskHandler)
    @Html.HiddenFor(model => model.Task1)
    @Html.HiddenFor(model => model.Task2)
    @Html.HiddenFor(model => model.Task3)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.ProdDescription)
    @Html.HiddenFor(model => model.ApprNote)
    @*@Html.HiddenFor(model => model.IsComplete)*@
    @Html.HiddenFor(model => model.SalesOrderNo)
    @Html.HiddenFor(model => model.SubOrderNo)
    @Html.HiddenFor(model => model.CertType)
    @Html.HiddenFor(model => model.CertAction)
    @Html.HiddenFor(model => model.MainProdType)
    @Html.HiddenFor(model => model.SubProdType)
    @Html.HiddenFor(model => model.ReceivedTime)
    @Html.HiddenFor(model => model.FeeSetTime)
    @Html.HiddenFor(model => model.IoraSentTime)
    @Html.HiddenFor(model => model.IoraReturnedTime)
    @Html.HiddenFor(model => model.JobCompletedTime)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.Fee)
    @Html.HiddenFor(model => model.FeeSetter)
    @Html.HiddenFor(model => model.FeeVerifier)
    @Html.HiddenFor(model => model.JobVerifier)
    @Html.HiddenFor(model => model.RAE)
    @Html.HiddenFor(model => model.MWL)
    @Html.HiddenFor(model => model.ExistingCertNo)
    @Html.HiddenFor(model => model.CertNo)
    @Html.HiddenFor(model => model.SerialNo)
    @Html.HiddenFor(model => model.MEDItemNo)
    @Html.HiddenFor(model => model.DeliveryWeek)
    @Html.HiddenFor(model => model.LocalUnit)
    @Html.HiddenFor(model => model.ArchiveFolder)
    @Html.HiddenFor(model => model.IsHold)
    @Html.HiddenFor(model => model.StatusNote)
    @Html.HiddenFor(model => model.VerifyLvl)
    @Html.HiddenFor(model => model.SurveyDate)
    @Html.HiddenFor(model => model.SurveyStation)
    @Html.HiddenFor(model => model.TechPara1)
    @Html.HiddenFor(model => model.TechPara2)
    @Html.HiddenFor(model => model.TechPara3)
    @Html.HiddenFor(model => model.TechPara4)
    @Html.HiddenFor(model => model.MEDFactory)
    @Html.HiddenFor(model => model.MEDFBNo)
    @Html.HiddenFor(model => model.MEDFBDue)
    @Html.HiddenFor(model => model.AnyDesignChange)
    @Html.HiddenFor(model => model.ChecklistUsed)
    @Html.HiddenFor(model => model.DesignFolder)
    @Html.HiddenFor(model => model.IsDocQualityGood)
    @Html.HiddenFor(model => model.IsDocSufficient)
    @Html.HiddenFor(model => model.SetHoldTime)
    @Html.HiddenFor(model => model.IORASpentTime)
    @Html.HiddenFor(model => model.ModificationDesc)
    @Html.HiddenFor(model => model.OnHoldNote)
    @Html.HiddenFor(model => model.FeeVerifyTime)
    @Html.HiddenFor(model => model.RegisterTime)
    @Html.HiddenFor(model => model.DocReq)
    @Html.HiddenFor(model => model.NoOfCert)
    @Html.HiddenFor(model => model.FeeSet)
    @Html.HiddenFor(model => model.VesselID)
    @Html.HiddenFor(model => model.DocReqNote)
    @Html.HiddenFor(model => model.NpsDbId)
    @Html.HiddenFor(model => model.ExeDoneBy)
    @Html.HiddenFor(model => model.ExeDoneTime)
    @Html.HiddenFor(model => model.CompletedBy)
    @Html.HiddenFor(model => model.SendingFlag)
    @Html.HiddenFor(model => model.IoraDbId)

<div class="form-horizontal">
    <hr />
    <h4>Click the button below will close the job in BRIDGE.</h4>
    <div class="bing col-lg-6 h3" hidden>
        Completed:
        @Html.EditorFor(model => model.IsComplete)
        @Html.ValidationMessageFor(model => model.IsComplete, "", new { @class = "text-danger" })
        <br /><br /><br />
    </div>
    <div class="bing col-lg-6" hidden>
        @Html.EditorFor(model => model.JobCompletedTime, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.JobCompletedTime, "", new { @class = "text-danger" })
    </div>
    <div class="bing col-lg-6" hidden>
        @Html.EditorFor(model => model.CompletedBy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CompletedBy, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Complete job in Bridge" class="btn btn-default" id="saveButton" readonly />
        </div>
    </div>
    @{

        Html.RenderPartial("_TaskSending");
    }
</div>


}
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    //read viewbag's info.
    var userSignature = "@UserSignature";
    var bm = "@bridgeModule";
    var Job = @Html.Raw(Json.Encode(Model));

    var LMainProdType = @Html.Raw(Json.Encode(LMainProdType));
    var LSubProdType = @Html.Raw(Json.Encode(LSubProdType));
    var LUser = @Html.Raw(Json.Encode(LUser));
    var LCertAction = @Html.Raw(Json.Encode(LCertAction));
    var LCertType = @Html.Raw(Json.Encode(LCertType));

    var TargetUser;
    var BEmail;
    var taskStatus;

    //Set task parameter
    var taskNo = 4;
    var taskStatusFlag = "CompletedBy";
    var taskCompleteDate = "JobCompletedTime";
    var taskCompleteStr = "The job is completed by ";

    renderTaskShowHide();
    renderTaskHandling();

    //console.log(getTodayDate());




</script>


