@model BridgeMVC.Models.Job

@{
    
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    var LCertType = ViewBag.LCertType;
    var LCertAction = ViewBag.LCertAction;
    var LMainProdType = ViewBag.LMainProdType;
    var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;

    var bUser = ViewBag.bUser;
    var bEmail = ViewBag.bEmail;
}

<style>
    .bing {
        float: left;
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 400px;
        font-weight: bold;
    }

    .form-control {
        font-weight: normal;
    }
</style>

<h2 id="statement"></h2>
@Model.SendingFlag
<script>
    


    //read viewbag's info.
    var userSignature = "@UserSignature";
    var bm = "@bridgeModule";
    var Job = @Html.Raw(Json.Encode(Model));


    var LMainProdType = @Html.Raw(Json.Encode(LMainProdType));
    var LSubProdType = @Html.Raw(Json.Encode(LSubProdType));
    var LUser = @Html.Raw(Json.Encode(LUser));
    var LCertAction = @Html.Raw(Json.Encode(LCertAction));
    var LCertType = @Html.Raw(Json.Encode(LCertType));

    var BUser = @Html.Raw(Json.Encode(bUser));
    var BEmail = @Html.Raw(Json.Encode(bEmail));

    var bUser = BUser[0];
    var bEmail = BEmail[0];


    console.log(bUser);
    console.log(bEmail);

    var TargetUser = bUser;
    var emailReceiver = TargetUser.Email;
    var emailSubject = eval(bEmail.MailTitle);
    var emailBody = eval(bEmail.MailBody);

    window.location = 'mailto:' + emailReceiver + '?subject=' + emailSubject + '&body=' + emailBody;
   
    $('#statement').html("The job is sent to " + Job.TaskHandler + " for further handling.");
    
</script>


