@model BridgeMVC.Models.Job
@using BridgeMVC.Models;
@{
    ViewBag.Title = "Task_IORA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="@Url.Content("/Scripts/jquery-3.3.1.min.js")"></script>
<script type="text/javascript" src="@Url.Content("/Scripts/bridgeScript.js")"></script>

<h2>Task_IORA</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Job</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NpsJobId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NpsJobId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NpsJobId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Completed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Completed)
                    @Html.ValidationMessageFor(model => model.Completed, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<table class="table">
    <tr>
        <th>
            Tag
        </th>
        <th>
            Book Mark Name
        </th>
        <th>
            Desription
        </th>
        <th>
            Formula
        </th>
        <th></th>
    </tr>

    @foreach (BIORA item in ViewBag.BIORA)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td id="BookMarkName">
                @Html.DisplayFor(modelItem => item.BookMarkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td id="Formula">
                @Html.DisplayFor(modelItem => item.Formula)
            </td>

        </tr>
    }

</table>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@using (Html.BeginForm("ExportToWord", "Job", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="Name" >NPS Job ID:</label>
        <input name="Name" class="text-info" />
    </div>
    <div class="form-group">
        <label for="Age" >Description:</label>
        <input name="Age" class="text-info" />
    </div>
    <button type="submit" class="btn-primary">Submit</button>

}

    <input type="hidden" value="@ViewBag.BIORA" id="mode" />

<button id="DefaultValue">Default Value</button>
<script type="text/javascript">

    
    var obj = @Html.Raw(Json.Encode(ViewBag.BIORA));
    var ob = getObject(obj, "BookMarkName", "NpsJobId");
    var s = ob[0]["Formula"];
    console.log(s);


    var Job = @Html.Raw(Json.Encode(Model));
    var mode = document.getElementById('mode').value;

    var settings = document.getElementById('BookMarkName').innerHTML;

    $("#DefaultValue").click(function () {
        $("input[name='Name']").val(Job['NpsJobId']);
        $("input[name='Age']").val(eval(s));
    });






</script>