@model BridgeMVC.Models.Job


<h2>Terminate a Job</h2>

<div>
    @Html.HiddenFor(model => model.Tag)
    @Html.HiddenFor(model => model.BridgeModule)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.NpsJobName)
    @Html.HiddenFor(model => model.NpsJobId)
    @Html.HiddenFor(model => model.TaskHandler)
    @Html.HiddenFor(model => model.Task1)
    @Html.HiddenFor(model => model.Task2)
    @Html.HiddenFor(model => model.Task3)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.ProdDescription)
    @Html.HiddenFor(model => model.ApprNote)
    @Html.HiddenFor(model => model.IsComplete)
    @Html.HiddenFor(model => model.SalesOrderNo)
    @Html.HiddenFor(model => model.SubOrderNo)
    @Html.HiddenFor(model => model.CertType)
    @Html.HiddenFor(model => model.CertAction)
    @Html.HiddenFor(model => model.MainProdType)
    @Html.HiddenFor(model => model.SubProdType)
    @Html.HiddenFor(model => model.ReceivedTime)
    @Html.HiddenFor(model => model.FeeSetTime)
    @Html.HiddenFor(model => model.IoraSentTime)
    @Html.HiddenFor(model => model.IoraReturnedTime)
    @Html.HiddenFor(model => model.JobCompletedTime)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.CustomerId)
    @Html.HiddenFor(model => model.Fee)
    @Html.HiddenFor(model => model.FeeSetter)
    @Html.HiddenFor(model => model.FeeVerifier)
    @Html.HiddenFor(model => model.JobVerifier)
    @Html.HiddenFor(model => model.RAE)
    @Html.HiddenFor(model => model.MWL)
    @Html.HiddenFor(model => model.ExistingCertNo)
    @Html.HiddenFor(model => model.CertNo)
    @Html.HiddenFor(model => model.SerialNo)
    @Html.HiddenFor(model => model.MEDItemNo)
    @Html.HiddenFor(model => model.DeliveryWeek)
    @Html.HiddenFor(model => model.LocalUnit)
    @Html.HiddenFor(model => model.ArchiveFolder)
    @Html.HiddenFor(model => model.IsHold)
    @Html.HiddenFor(model => model.StatusNote)
    @Html.HiddenFor(model => model.VerifyLvl)
    @Html.HiddenFor(model => model.SurveyDate)
    @Html.HiddenFor(model => model.SurveyStation)
    @Html.HiddenFor(model => model.TechPara1)
    @Html.HiddenFor(model => model.TechPara2)
    @Html.HiddenFor(model => model.TechPara3)
    @Html.HiddenFor(model => model.TechPara4)
    @Html.HiddenFor(model => model.MEDFactory)
    @Html.HiddenFor(model => model.MEDFBNo)
    @Html.HiddenFor(model => model.MEDFBDue)
    @Html.HiddenFor(model => model.AnyDesignChange)
    @Html.HiddenFor(model => model.ChecklistUsed)
    @Html.HiddenFor(model => model.DesignFolder)
    @Html.HiddenFor(model => model.IsDocQualityGood)
    @Html.HiddenFor(model => model.IsDocSufficient)
    @Html.HiddenFor(model => model.SetHoldTime)
    @Html.HiddenFor(model => model.IORASpentTime)
    @Html.HiddenFor(model => model.ModificationDesc)
    @Html.HiddenFor(model => model.OnHoldNote)
    @Html.HiddenFor(model => model.FeeVerifyTime)
    @Html.HiddenFor(model => model.RegisterTime)
    @Html.HiddenFor(model => model.DocReq)
    @Html.HiddenFor(model => model.NoOfCert)
    @Html.HiddenFor(model => model.FeeSet)
    @Html.HiddenFor(model => model.VesselID)
    @Html.HiddenFor(model => model.DocReqNote)
    @Html.HiddenFor(model => model.NpsDbId)
    @Html.HiddenFor(model => model.ExeDoneBy)
    @Html.HiddenFor(model => model.ExeDoneTime)
    @Html.HiddenFor(model => model.CompletedBy)
    @Html.HiddenFor(model => model.SendingFlag)
    @Html.HiddenFor(model => model.IoraDbId)
    @Html.HiddenFor(model => model.InternalFee)
</div>

<div class="form-horizontal">
    <hr />
    <div class="bing col-lg-6 ">
        Job ID:
        @Html.EditorFor(model => model.NpsJobId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

    </div>
    <div class="bing col-lg-6 ">
        Customer Name:
        @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="bing col-lg-6 ">
        Equipment type:
        @Html.EditorFor(model => model.SubProdType, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    <div class="bing col-lg-6 ">
        Designation:
        @Html.EditorFor(model => model.ProdDescription, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>

    <div class=" col-lg-12 ">
        <h4 style="clear:both;">Internal approval note:</h4>
        @Html.EditorFor(model => model.ApprNote, new { htmlAttributes = new { @class = "form-control", style = "height:100px" } })
        @Html.ValidationMessageFor(model => model.ApprNote, "", new { @class = "text-danger" })
    </div>

    <div class="bing col-lg-6 h4">
        The job is ready to be completed: &nbsp;
        @Html.EditorFor(model => model.IsComplete)
        @Html.ValidationMessageFor(model => model.IsComplete, "", new { @class = "text-danger" })
        <br />
    </div>
</div>