@model IEnumerable<BridgeMVC.Models.Job>
@{
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    //string SF = (string)Session["SendingFlag"];

    //var LCertType = ViewBag.LCertType;
    //var LCertAction = ViewBag.LCertAction;
    //var LMainProdType = ViewBag.LMainProdType;
    //var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;
    string wbt = ViewBag.WBT;

    ViewBag.Title = "Whiteboard";
    var users = ViewBag.users;

    //var nodeCopy = 0;
}

<style>
    .userImage{
        padding: 3px;
    }



    .dropBox {
        width: 72px;
        height: 72px;
        padding:   0px;
        border: 1px solid #aaaaaa;
    }

    .ct1 {
        background-color: #0094ff;
        color: aliceblue;
    }

    .ct2 {
        background-color: #064579;
        color: aliceblue;
    }


    .wbTab {
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 300px;
        font-weight: bold;
        height: 100px;
        float: left;
        margin-right: 1em;
    }

        .wbTab:hover {
            background-color: #eee;
            cursor: pointer;
            color: black;
        }

    .wbnav {
        overflow: hidden;
        background-color: white;
    }

        .wbnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 36px;
            text-decoration: none;
            font-size: 17px;
        }

            .wbnav a:hover {
                background-color: #ddd;
                color: black;
            }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .wbnav .icon {
        display: none;
    }

 



    div.header {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.container {
        padding: 10px;
    }

    .btn {
        color: lightgrey;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "tabFilter" }))
{


    <table>
        <colgroup>
            <col span="1" style="width: 17%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 17%;">
            <col span="1" style="width: 21%;">
            <col span="1" style="width: 21%;">
        </colgroup>
        <tr>
            <td hidden>
                @Html.TextBox("wbTab", null, new { @class = "form-control" })   @Html.TextBox("wbTaskHandler", null, new { @class = "form-control" })
            </td>
            <td>
                <input id="wb_dist" value="TO BE DISTRIBUTED" class="btn" readonly />
            </td>
            <td>
                <input id="wb_oh" value="ON HOLD" class="btn" readonly />
            </td>
            <td>
                <input id="wb_og" value="ON GOING" class="btn" readonly />
            </td>
            <td>
                <input id="wb_v" value="UNDER VERIFICATION" class="btn" readonly />
            </td>
            <td>
                <input id="wb_done" style="width:300px;" value="COMPLETED LAST WEEK" class="btn" readonly />
            </td>
        </tr>
    </table>


}


<br>


@*<h3>Due in 5 days</h3>*@

    @foreach (var item in Model)
    {

<table class="ct1" style="table-layout:fixed;width:auto">
    <colgroup>
        <col style="width:200px" />
        <col style="width:72px" />
    </colgroup>
    <tbody>
        <tr>
            <td >
                @Html.DisplayFor(modelItem => item.NpsJobId)
                <br />
                @Html.DisplayFor(modelItem => item.ProdDescription)
                <br /> Budget:
                @Html.DisplayFor(modelItem => item.BudgetHour) hours
                <br />
                @Html.DisplayFor(modelItem => item.TaskHandler)
            </td>
            <td class="dropBox" ondrop="drop(event)" ondragover="allowDrop(event)" id="@item.Id"></td>
        </tr>
    </tbody>
</table>



    }


<br /><br /><br />
<hr />

<div id="people">

    <img class="userImage" id="KERE" src="~/Content/pictures/M2Profiles/KERE.png" draggable="true" ondragstart="drag(event)" width="72" height="72">
 
</div>



<script>

    var newNodeId = 0;
    var item2 = document.getElementById("people");
    var cln = document.getElementById("people");

    var users = ["BAY", "HDR", "JPOUL", "MAKV", "MASP", "MOMOH", "RATSI", "ROME", "SADEL", "SINSE", "SXL", "TWOE"];

    var ima = document.getElementById("KERE");


    for (var i = 0, j = users.length; i < j; i++) {
    var imacln = ima.cloneNode(true);
    imacln.id = users[i];
    imacln.src = "/Content/pictures/M2Profiles/" + users[i] + ".png";
    item2.appendChild(imacln);
    }




    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        newNodeId = newNodeId + 1;
        var item = document.getElementById(ev.target.id);
        cln = item.cloneNode(true);
        cln.id = ev.target.id + "_" + newNodeId;
    }

    function drop(ev) {
        var dropobj = document.getElementById(ev.target.id);
        if (dropobj.className != "dropBox") {
            dropobj = dropobj.parentNode;
        }


        while (dropobj.firstChild) {
            dropobj.removeChild(dropobj.firstChild);
        }

        item2.appendChild(cln);
        ev.preventDefault();
        dropobj.appendChild(cln);
        cln.draggable = false;



        console.log(cln.id + dropobj.id)
    }





    var users = @Html.Raw(Json.Encode(users));

</script>
<script>

    var jobdbid = "";
    var newHandler = "";
    var bm = "@bridgeModule";
    var wbt = "@wbt";

        var LUser = @Html.Raw(Json.Encode(LUser));

    function myFunction(x, iid) {
        i = x;
        document.getElementById("myDropdown" + x).classList.toggle("show");
        jobdbid = iid;
        console.log(iid);
    }

    // Close the dropdown if the user clicks outside of it


    $('#wb_dist').on('click', function (event) {

        $('#wbTab').val("wb_dist");
        $('#tabFilter').submit();
    })
    $('#wb_oh').on('click', function (event) {

        $('#wbTab').val("wb_oh");
        $('#tabFilter').submit();
    })
    $('#wb_og').on('click', function (event) {

        $('#wbTab').val("wb_og");
        $('#tabFilter').submit();
    })
    $('#wb_v').on('click', function (event) {

        $('#wbTab').val("wb_v");
        $('#tabFilter').submit();
    })
    $('#wb_done').on('click', function (event) {

        $('#wbTab').val("wb_done");
        $('#tabFilter').submit();
    })



    $("#selectListHandler").append(new Option("-- Please select --", null));
    $.each(LUser, function (key, data) {
        $("#selectListHandler").append(new Option(data.Signature, data.Signature));
    });


    $.each(["-- Please select --", "1.FEE", "2.VER", "3.AGR"], function (index, value) {
        $("#selectListTask").append(new Option(value, value));
    });

    $("#selectListHandler").on('click', function (event) {
        newHandler = $("#selectListHandler").val();
        $('#wbTab').val(jobdbid + "," + newHandler);
        console.log(newHandler);
        $('#tabFilter').submit();
    });

    console.log("wbt" + wbt);
    if (wbt != null && wbt != "") {
        document.getElementById(wbt).style.backgroundColor = "lightblue";
        document.getElementById(wbt).style.color = "black";
    }









</script>