@model IEnumerable<BridgeMVC.Models.Job>
@{ 
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    //string SF = (string)Session["SendingFlag"];

    //var LCertType = ViewBag.LCertType;
    //var LCertAction = ViewBag.LCertAction;
    //var LMainProdType = ViewBag.LMainProdType;
    //var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;
    string wbt = ViewBag.WBT;

    ViewBag.Title = "Whiteboard";
    var users = ViewBag.users;
    var i = 0;
    var classNv = "";
}


<style>
    .ct1 {
        background-color: #0094ff;
        color: aliceblue;
    }

    .ct2 {
        background-color: #064579;
        color: aliceblue;
    }


    .wbTab {
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 300px;
        font-weight: bold;
        height: 100px;
        float: left;
        margin-right: 1em;
    }

        .wbTab:hover {
            background-color: #eee;
            cursor: pointer;
            color: black;
        }

    .wbnav {
        overflow: hidden;
        background-color: white;
    }

        .wbnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 36px;
            text-decoration: none;
            font-size: 17px;
        }

            .wbnav a:hover {
                background-color: #ddd;
                color: black;
            }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .wbnav .icon {
        display: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
    /*.form-control {
        font-weight: normal;
    }*/
    div.card {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
    }

    div.header {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.container {
        padding: 10px;
    }

    .btn {
        color: lightgrey;
    }

</style>



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "tabFilter" }))
{


    <table>
        <colgroup>
            <col span="1" style="width: 17%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 17%;">
            <col span="1" style="width: 21%;">
            <col span="1" style="width: 21%;">

        </colgroup>
        <tr>
            <td hidden>
                @Html.TextBox("wbTab", null, new { @class = "form-control" })   @Html.TextBox("wbTaskHandler", null, new { @class = "form-control" })
            </td>

            <td>
                <input id="wb_dist" value="TO BE DISTRIBUTED" class="btn" readonly/>
            </td>
            <td>
                <input id="wb_oh" value="ON HOLD" class="btn" readonly/>
            </td>
            <td>
                <input id="wb_og" value="ON GOING" class="btn" readonly/>
            </td>
            <td>
                <input id="wb_v" value="UNDER VERIFICATION" class="btn" readonly/>
            </td>
            <td>
                <input id="wb_done" style="width:300px;" value="COMPLETED LAST WEEK" class="btn" readonly/>
            </td>

        </tr>

    </table>


}

@*<h3>Due in 5 days</h3>*@

<table class="table table-mid-align-rows">

    @foreach (var item in Model)
    {
        i += 1;
        var nv = "myDropdown" + i;
        classNv = "wbTab  ct" + i;
        string s = "\"" + item.Id + "\"";


    <div class="card @classNv" onclick="myFunction(@i, @s)">
        @Html.DisplayFor(modelItem => item.NpsJobId)
        <br />
        @Html.DisplayFor(modelItem => item.ProdDescription)
        <br /> Budget:
        @Html.DisplayFor(modelItem => item.BudgetHour) hours
        <br />
        @Html.DisplayFor(modelItem => item.TaskHandler) 

        <div id=@nv class="dropdown-content">
            <p><u>SEND JOB TO:</u></p>
            <select id="selectListHandler" class="form-control"></select>
            @*<select id="selectListTask" class="form-control"></select>*@
        </div>


    </div>

    }
</table>





<script>
    var users = @Html.Raw(Json.Encode(users));

    var xx = "@classNv";
    console.log(xx);
</script>

<script>

    var jobdbid = "";
    var newHandler = "";
    var bm = "@bridgeModule";
    var wbt = "@wbt";

        var LUser = @Html.Raw(Json.Encode(LUser));

    function myFunction(x, iid) {
        i = x;
        document.getElementById("myDropdown" + x).classList.toggle("show");
        jobdbid = iid;
        console.log(iid);
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.wbTab')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    $('#wb_dist').on('click', function (event) {

        $('#wbTab').val("wb_dist");
        $('#tabFilter').submit();
    })
    $('#wb_oh').on('click', function (event) {

        $('#wbTab').val("wb_oh");
        $('#tabFilter').submit();
    })
    $('#wb_og').on('click', function (event) {

        $('#wbTab').val("wb_og");
        $('#tabFilter').submit();
    })
    $('#wb_v').on('click', function (event) {

        $('#wbTab').val("wb_v");
        $('#tabFilter').submit();
    })
    $('#wb_done').on('click', function (event) {

        $('#wbTab').val("wb_done");
        $('#tabFilter').submit();
    })



    $("#selectListHandler").append(new Option("-- Please select --", null));
    $.each(LUser, function (key, data) {
        $("#selectListHandler").append(new Option(data.Signature, data.Signature));
    });


    $.each(["-- Please select --", "1.FEE", "2.VER", "3.AGR"], function (index, value) {
        $("#selectListTask").append(new Option(value, value));
    });

    $("#selectListHandler").on('click', function (event) {
        newHandler = $("#selectListHandler").val();
        $('#wbTab').val(jobdbid + "," + newHandler);
        console.log(newHandler);
        $('#tabFilter').submit();
    });

    console.log("wbt" + wbt);
    if (wbt != null && wbt != "") {
        document.getElementById(wbt).style.backgroundColor = "lightblue";
        document.getElementById(wbt).style.color = "black";
    }









</script>