@model IEnumerable<BridgeMVC.Models.Job>
@{
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    //string SF = (string)Session["SendingFlag"];
    var BFlist = (IEnumerable<BridgeMVC.Models.BFinancial>)ViewBag.LCertType;
    //var LCertAction = ViewBag.LCertAction;
    //var LMainProdType = ViewBag.LMainProdType;
    //var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;
    string wbt = ViewBag.WBT;

    ViewBag.Title = "Whiteboard";
    var users = ViewBag.users;

    var sn = 0;
    string getColorCode(string ct)
    {
        string c = "";
        foreach (BridgeMVC.Models.BFinancial bf in BFlist)
        {
            if (bf.CertType == ct)
            {
                c = bf.ColorCode;
            }
        }

        return c;
    }

}
@*<script src="scripts/DragDropTouch.js"></script>*@

<script>

    function getProdDesc(id) {
        $.ajax(
            {
                type: 'GET',
                url: '/Job/GetProdDesc',
                data: { id: id },

                success: function (data) {
                    $("#proddesc" + id).html(data);
                    //console.log(data);
                },
                error: function (e) {
                    alert('Error: ' + e);
                    return "";
                }
            });
    }
</script>
<style>
    table tr:hover td {
       
        color: black;
    }

    #people {

    
        position: fixed;
        bottom: 3%;
        width: 100%;

        opacity: 1;
    }



    .userImage1 {
       
        height:180px;
        width:180px;
    }
    .userImage2 {
       
        height: 72px;
        width: 72px;
    }


    .dropBox {

        padding: 6px;
        border: 1px solid #aaaaaa;
        /*padding-left:12px;*/
    }

    .dropBoxSub {
        position: absolute;
        top: 114px;
        left: 300px;
        height: 72px;
        width: 72px;
        padding: 0px;
        border: 1px solid #aaaaaa;
        background-color:white;
        color:red;
        font-size:larger;
        font-weight:600;
        align-content:center;

       
    }



    .jobCard {
        box-shadow: 5px 10px 8px #888888;
        margin:12px;
    }



    .wbTab {
        /*width: 450px;*/
        padding: 0.5em 1em 0.5em 1em;
        min-width: 300px;
        font-weight: bold;
        height: 100px;
        float: left;
        margin-right: 1em;
    }

        .wbTab:hover {
            background-color: #eee;
            cursor: pointer;
            color: black;
        }

    .wbnav {
        overflow: hidden;
        background-color: white;
    }

        .wbnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 36px;
            text-decoration: none;
            font-size: 17px;
        }

            .wbnav a:hover {
                background-color: #ddd;
                color: black;
            }

    .active {
        background-color: #4CAF50;
        color: white;
    }

    .wbnav .icon {
        display: none;
    }





    div.header {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 40px;
    }

    div.container {
        padding: 10px;
    }

    .btn {
        color: lightgrey;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "tabFilter" }))
{


    <table>
        <colgroup>
            <col span="1" style="width: 17%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 12%;">
            <col span="1" style="width: 17%;">
            <col span="1" style="width: 21%;">
            <col span="1" style="width: 21%;">
        </colgroup>
        <tr>
            <td hidden>
                @Html.TextBox("wbTab", null, new { @class = "form-control" })   @Html.TextBox("wbTaskHandler", null, new { @class = "form-control" })
            </td>
            <td>
                <input id="wb_dist" value="TO BE DISTRIBUTED" class="btn" readonly />
            </td>
            <td>
                <input id="wb_oh" value="ON HOLD" class="btn" readonly />
            </td>
            <td>
                <input id="wb_og" value="ON GOING" class="btn" readonly />
            </td>
            <td>
                <input id="wb_v" value="UNDER VERIFICATION" class="btn" readonly />
            </td>
            <td>
                <input id="wb_done" style="width:300px;" value="COMPLETED LAST WEEK" class="btn" readonly />
            </td>
        </tr>
    </table>


}


<br>


@*<h3>Due in 5 days</h3>*@

@foreach (var item in Model)
{
    sn += 1;
    string raeId = "Rae_" + sn;
    string verId = "Ver_" + sn;
    string proddesc = "proddesc" + item.Id;
    string ctcolor = getColorCode(item.CertType);
    string raePicSrc = "/Content/pictures/M2Profiles/" + item.RAE + ".png";
    string verifierPicSrc = "";
    string raePicJobId = "Rae_" + item.Id;
    string verPicJobId = "Ver_" + item.Id;

    if (!string.IsNullOrEmpty(item.JobVerifier))
    {
        verifierPicSrc = "/Content/pictures/M2Profiles/" + item.JobVerifier + ".png";
    }
    else
    {
        verifierPicSrc = "/Content/pictures/M2Profiles/WHITEBOARD.png";
    }





    <table style="table-layout:fixed; width:auto;background-color:@ctcolor" class="jobCard col-lg-3">
        <colgroup>
            <col style="width:360px" />
            <col style="width:180px" />
        </colgroup>
        <tbody>
            <tr style="height:180px">
                <td>
                    @Html.DisplayFor(modelItem => item.NpsJobId)
                    <br />

                    @Html.DisplayFor(modelItem => item.CustomerName) 
                    <br />

                    <p class="h2" id="@proddesc"></p>
                    <script>getProdDesc("@item.Id")</script>

                    <br /> Budget:
                    @Html.DisplayFor(modelItem => item.BudgetHour) hours
                    <br />
                    @*@Html.DisplayFor(modelItem => item.TaskHandler)*@
                </td>
                <td  style="padding-right:0;padding-bottom:0">
                    <div class="dropBox" ondrop="drop(event)" ondragover="allowDrop(event)" id="@raePicJobId">
                        <img class="userImage1" id="@raeId" src="@raePicSrc" draggable="false" ondragstart="drag(event)" >
                    </div>
                    @if(wbt != "wb_dist" && wbt != "wb_oh") { 
                    <div class="dropBoxSub" ondrop="drop(event)" ondragover="allowDrop(event)" id="@verPicJobId">
                        <img class="userImage2" id="@verId" src="@verifierPicSrc" draggable="false" ondragstart="drag(event)">
                    </div>
                    }
                </td>




            </tr>
        </tbody>
    </table>



}


<br /><br /><br />


<div id="people">
    <hr />
    <img class="userImage2" id="WHITEBOARD" src="~/Content/pictures/M2Profiles/WHITEBOARD.png" draggable="true" ondragstart="drag(event)" >

</div>





<script>

    
    var jobdbid = "";
    var newHandler = "";
    var bm = "@bridgeModule";
    var wbt = "@wbt";

    var LUser = @Html.Raw(Json.Encode(LUser));


    var newNodeId = 0;
    var peoplePool = document.getElementById("people");
    var cln = document.getElementById("people"); //Just decalre a public var
    var clnOri = cln;
    var users = ["KERE", "BAY", "HDR", "JPOUL", "MAKV", "MASP", "MOMOH", "RATSI", "ROME", "SADEL", "SINSE", "TWOE", "VINDI", "VMRR", "ZEINA"];
    var ima = document.getElementById("WHITEBOARD");

    for (var i = 0, j = users.length; i < j; i++) {
        var imacln = ima.cloneNode(true);
        imacln.id = users[i];
        imacln.src = "/Content/pictures/M2Profiles/" + users[i] + ".png";
        peoplePool.appendChild(imacln);
    }

    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        newNodeId = newNodeId + 1;
        var item = document.getElementById(ev.target.id);
        cln = item.cloneNode(true);
        clnOri = cln;
        cln.id = ev.target.id + "__" + newNodeId;
     }

    function drop(ev)
    {
        ev.preventDefault();
        var dropobj = document.getElementById(ev.target.id);
        var parentobj = dropobj.parentNode;
        var jobdbid = parentobj.id.split('_')[1];

        console.log(parentobj.id + '---' + jobdbid);

        while (parentobj.firstChild)
        {
            parentobj.removeChild(parentobj.firstChild);
        }

        var myStr = cln.outerHTML;
        var subStr = myStr.match("id=\"(.*)__");
        var newJobHandler = subStr[1];
        var apiUrl = "/Job/";
        
        if ((ev.target.id).substring(0, 3) == "Rae")
        {
            cln.className = "userImage1"
            apiUrl = apiUrl + 'ChangeJobRAE';
            peoplePool.appendChild(clnOri);
        }
        else if ((ev.target.id).substring(0, 3) == "Ver")
        {
            cln.className = "userImage2"
            apiUrl = apiUrl + 'ChangeJobVerifier';
            peoplePool.appendChild(clnOri);
        }
 
        parentobj.appendChild(cln);
        cln.draggable = false;

        callApi(jobdbid, apiUrl, newJobHandler);
        console.log(jobdbid + '+' + apiUrl + '+' + newJobHandler);
    }

    function callApi(jobdbid, apiUrl, newJobHandler) {
        $.ajax(
            {
                type: 'GET',
                url: apiUrl,
                data: { id: jobdbid, newJobHandler: newJobHandler },

                success: function (data) {

                    console.log(data);
                },
                error: function (e) {
                    alert('Error: ' + e);

                }
            });
    }


    // Close the dropdown if the user clicks outside of it


    $('#wb_dist').on('click', function (event) {

        $('#wbTab').val("wb_dist");
        $('#tabFilter').submit();
    })
    $('#wb_oh').on('click', function (event) {

        $('#wbTab').val("wb_oh");
        $('#tabFilter').submit();
    })
    $('#wb_og').on('click', function (event) {

        $('#wbTab').val("wb_og");
        $('#tabFilter').submit();
    })
    $('#wb_v').on('click', function (event) {

        $('#wbTab').val("wb_v");
        $('#tabFilter').submit();
    })
    $('#wb_done').on('click', function (event) {

        $('#wbTab').val("wb_done");
        $('#tabFilter').submit();
    })


    if (wbt != null && wbt != "") {
        document.getElementById(wbt).style.backgroundColor = "lightblue";
        document.getElementById(wbt).style.color = "black";
    }


</script>