@model BridgeMVC.Models.Job
@{
    Layout = "~/Views/Shared/_LayoutM2TaskStandard.cshtml";
    ViewBag.Title = "M1_Task1";
    string UserSignature = (string)Session["UserSignature"];
    string bridgeModule = (string)Session["BridgeModule"];
    string SF = (string)Session["SendingFlag"];

    var LCertType = ViewBag.LCertType;
    var LCertAction = ViewBag.LCertAction;
    var LMainProdType = ViewBag.LMainProdType;
    var LSubProdType = ViewBag.LSubProdType;
    var LUser = ViewBag.LUser;
    var FinancialSet = ViewBag.FinancialSet;
    var Customer = ViewBag.Customer;
    var LCustomerAddr = ViewBag.LCustomerAddr;
    var LCustomerContact = ViewBag.LCustomerContact;

    var LVauleResource = ViewBag.LVauleResource;
    var LPTP = ViewBag.LPTP;
    var LProd = ViewBag.LProduct;

}

<style>
    .PEDeditableBox {
        height: 30px;
        width: 300px;
        transform: translateY(-32px);
        background-color: rgb(255, 255, 255);
    }

    .PEDoptionBox {
        height: 36px;
        width: 320px;
        border: none;
       
    }




    .ptpremove {
        background-color: pink;
        border: none;
    }
</style>
<button class="btnped" id="addProdøPED_PCA_Product">ADD</button>
<table id="tbløPED_PCA_Product" class="table-bordered"></table>


@section Scripts {
    <script>

        var LValueSource = @Html.Raw(Json.Encode(LVauleResource));
            var LProduct = @Html.Raw(Json.Encode(LProd));
        var LPTP = @Html.Raw(Json.Encode(LPTP));
        console.log(LPTP);
        console.log(LProduct);
    //read viewbag's info.
    var userSignature = "@UserSignature";
    var bm = "@bridgeModule";
    var Job = @Html.Raw(Json.Encode(Model));

    var LMainProdType = @Html.Raw(Json.Encode(LMainProdType));
    var LSubProdType = @Html.Raw(Json.Encode(LSubProdType));
    var LUser = @Html.Raw(Json.Encode(LUser));
    var LCertAction = @Html.Raw(Json.Encode(LCertAction));
    var LCertType = @Html.Raw(Json.Encode(LCertType));
    var Customer = @Html.Raw(Json.Encode(Customer));

    var TargetUser;
    var BEmail;
    var taskStatus;

    //Set task parameter
    var taskNo = 1;
    var taskStatusFlag = "feeSetter"; //who completed the task
    var taskCompleteDate = "feeSetTime";
    var taskCompleteStr = "The draft IORA is prepared by ";

        ptpCreateEditableTable("tbløPED_PCA_Product")

    //renderTaskInputFields($("#selectCertType").val(), $("#selectCertAction").val());
        function budgetHourCalc() {
            alert("Function not defined yet");
        }


        addDropdownEdit();

    </script>

}