@model BridgeMVC.Models.TechCheckLSA

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TechCheckLSA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BridgeModule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BridgeModule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbJobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbJobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NpsJobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NpsJobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainProdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainProdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubProdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubProdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerSig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerSig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerSection)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerSection)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NpsJobId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NpsJobId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DavitMWL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DavitMWL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinchMWL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinchMWL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MHL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MHL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WireDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WireDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DavitComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DavitComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verifier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verifier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerificationLvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerificationLvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFinalized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFinalized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalizeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalizeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerifyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VerifyNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VerifyNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OK20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OK20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NA20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NA20)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
