
@{
    ViewBag.Title = "Index";
}

<li>@Html.ActionLink("Create blob container", "CreateBlobContainer", "Blobs")</li>
<li>@Html.ActionLink("Upload blob", "UploadBlob", "Blobs")</li>
<li>@Html.ActionLink("List blobs", "ListBlobs", "Blobs")</li>
<li>@Html.ActionLink("Download blob", "DownloadBlob", "Blobs")</li>
<li>@Html.ActionLink("Delete blob", "DeleteBlob", "Blobs")</li>

<h2>Index</h2>

